%h1=@bonspiel.name

%p
  %strong Select a team: 
  = select_tag('rink', options_from_collection_for_select(Rink.order('name ASC').all, :name, :name), :id => 'rink_select')

- @bonspiel.draws.order('number desc').limit(4).each do |draw|
  
  %h2
    ="Draw #{draw.number}"
    = "(Partial)" if draw.partial?
  %table.table.table-striped
    - if draw.partial?
      %caption 
        %strong NOTE this is a partial draw listing - Teams playing back to back will not be shown, the winners will stay in the club they played in.
    %thead
      %tr
        %th Event
        %th Sheet
        %th Club
        %th Black
        %th Score
        %th Red
        %th Score
    %tbody
      - draw.matches.each do |m|
        %tr
          %td= m.event.try(:name)
          %td= m.sheet
          %td= m.club
          %td{:class => (m.black == m.winner ? "winner" : "")}
            = m.black
          %td{:class => m.black == m.winner ? "winner" : ""}
            = m.black_score
          %td{:class => m.red == m.winner ? "winner" : ""}
            = m.red
          %td{:class => m.red == m.winner ? "winner" : ""}
            = m.red_score
        